<ul class="nav">
    <!-- Home -->
	{% if uri == "/managedorks" %}
    	<li class="active">
    {% else %}
    	<li>
    {% end %}
    	<a href="/managedorks">Manage Dorks</a>
    </li>

    <!-- Manage Tags -->
    {% if uri == "/managetags" %}
        <li class="active">
    {% else %}
        <li>
    {% end %}
        <a href="/managetags">Manage Tags</a>
    </li>

    <!-- Manage Users -->
	{% if uri == "/manageusers" %}
    	<li class="active">
    {% else %}
    	<li>
    {% end %}
    	<a href="/manageusers">Manage Users</a>
    </li>
    <!-- Logout -->
    <li>
    	<a href="/logout">Logout</a>
    </li>
</ul>