<div class="nav-collapse">
    <ul class="nav">
        {% if uri == "/submit" %}
        	<li class="active">
        {% else %}
        	<li>
        {% end %}
        	<a href="/submit">Submit Dork</a>
        </li>
        
        {% if uri == "/top" %}
            <li class="active">
        {% else %}
            <li>
        {% end %}
            <a href="/top">Top Dorks</a>
            
        </li>

    </ul>
</div>
<div class="btn-group pull-right">
    <a class="btn btn-primary" href="/settings"><i class="icon-user icon-white"></i>&nbsp;{{ user_name }}&nbsp;</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
            <li><a href="/settings"><i class="icon-pencil"></i>&nbsp;Settings&nbsp;</a></li>
            <li class="divider"></li>
            <li><a href="/logout"><i class="icon-ban-circle"></i>&nbsp;Logout&nbsp;</a></li>
    </ul>
</div>